<!-- <p>
  Current Time : {{ currentTime }}
  <span style="color: black">WELCOME {{ userData.name }}</span>
</p>

<br /><br />
<span>{{ msgFromService }}</span>

<button (click)="goToServicesPage()">SERVICES</button>
<button (click)="goToClientsPage()">CLIENTS</button>
<button routerLink="/clients/clientA">CLIENTS A</button>
<br />
<button (click)="sendMsg()">SEND MSG</button> -->

<!-- <router-outlet></router-outlet> -->

<nav class="navbar">
  <div class="navbar-brand">MyBrand</div>
  <ul class="navbar-links">
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
