<h1>{{ pageTitle }}</h1>
<!-- STRUCTURE - * -->
<!-- ATTRIBUTE - [] -->
<!-- ngStyle -->
<div [ngStyle]="{ color: divColor }">THIS IS A DIV</div>

<input type="text" [(ngModel)]="userInput" />

<br />

<button (click)="divColor = userInput">COLOR CHANGE</button>

<!-- ngClass -->

<!-- <div class="adminDiv">HELLO</div> -->
<div [ngClass]="{ adminDiv: false, userDiv: true }">HELLO</div>

<!-- *ngFor -->

<div *ngFor="let obj of objArray">
  First Number : {{ obj.a }} Second Number : {{ obj.b }}
</div>

TASK UPDATE FROM CHILD - {{ taskUpdateFromChild }}

<!-- CHILD -->
<img [src]="pageTitle" alt="" />

<!-- // ARRAY -->
<app-child
  [fullName]="FULL_NAME"
  (taskUpdate)="updateTaskValue($event)"
></app-child>

<div>
  <!-- <button (click)="--stepCount">BACK</button> -->
  <!-- <button (click)="++stepCount">NEXT</button> -->
  <!-- <app-personalDetailsForm *ngIf="stepCount == 1"></app-personalDetailsForm> -->
  <!-- <app-contactDetailsForm *ngIf="stepCount == 2"></app-contactDetailsForm> -->
  <!-- <app-confirmationDetailsForm *ngIf="stepCount == 3"></app-confirmationDetailsForm> -->
  <!-- SAVE () child to parent - EVENTEMITTER -->
</div>
