.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-footer {
  margin-top: auto;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.497);
  display: flex;
  justify-content: center;
  align-items: center;
}
